

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display block

body
  line-height 1
  background #01ADA8

ol, ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
  content ''
  content none

table
  border-collapse collapse
  border-spacing 0

footer
  width 100%
  position absolute
  bottom 0
  text-align center
  color white
  a
    color white

.titulo
  text-align center
  font-size 2em
  color white
  margin-top 1em




.imgMessage
  width: 100%

.video 
  video 
    width: 100%
  .video-controls
    .video-play
      display: block;
      width: 30px;
      height: 27px;
    .video-time
      display: none
      span 
        display: inline-block
      .video-time__current
        display: none
    .video-mute
      display: none
    .video-seek
      .video-progress-bar
        input 
          width:100%
    .video-fullscreen
      position: absolute
      left: 0


.itemListChat
  padding 0.3em 1em 0.3em 1em
  border-radius 5px
  background white
  margin-bottom 0.5em
  width 80%
  text-align right
  margin-left auto

  span
    display block
    color #ccc
    text-align left
  .itemDinamic
    img
      border 1px solid red
      width 100%

.itemListChat2
  padding 0.3em 1em 0.3em 1em
  border-radius 5px 5px 5px 5px
  background #ccc
  margin-bottom 0.5em
  width 80%
  text-align left
  margin-right auto
  span
    display block
    color #efefef
    text-align right
  .itemDinamic
    img
      border 1px solid red
      width 100%

.contenedorChant 
  display: flex;
  border: 0px solid blue;
  background: #01ADA8;
  position: absolute 
  top 0
  bottom: 0
  left 0
  right: 0
  width: 100%
  height: 100%
  .cuadroChat
    position: absolute
    top 0
    bottom: 0
    left 0
    right: 0
    height: 100%
    overflow scroll
    overflow-x: hidden
    margin auto
    border 1px solid #eee
    width 50%
    display: flex;
    flex-direction: column-reverse;
    min-height 70%
    background #eee// #3C3C3C
    .panelListChat
      bottom 3.2em
      left 1em
      padding-left 10px
      padding-right: 10px
      right 1em
      color #222
      margin-bottom: 80px
      background: #eee;
      //border 1px solid green
      .btnHeader
        //border 1px solid green
        position fixed
        top 0
        padding 0
        right 0
        left 0
        margin auto
        width 50%
        box-shadow  0px 1px 10px #717D7E
        .btnPanic
          padding-bottom 6px
          padding-top 6px
          text-align center
          //border 1px solid red
          width: 50%;
          //height: 7em;
          // position: fixed;
          //z-index: 1000;
          //top: 0;
          display inline-block
          background: #EC7063;
          color white
          //opacity: 0.3
        .salir
          right 0
          padding-bottom 6px
          padding-top 6px
          display inline-block
          //border 1px solid blue
          //position absolute
          //width 50%
          background  #5DADE2

          text-align center
          width 50%
          //margin-left auto
          //text-align right
          color white
          //top 0.4em
          //right 0
          //clear both
          //z-index 1003

.inputChat
      position: fixed
      width:  50%
      display: inline-block
      input:hover
        border 0px solid blue
      input:focus 
        border 0px solid red 
        box-shadow: none
        outline: none;
      input
        padding 0 
        width 88%
        height: 40px
        bottom 0
        margin: 0
        border 0
        float: left
        text-align: left
        padding-left: 2%
        box-shadow: none
        font-family: sans-serif;
        font-size: 18px;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        line-height 3em
      button:hover 
        border 0
      button:focus
        border 0
        outline: none;

      button
        color #4A8BFF
        padding 0
        font-size: 30px
        float: right
        right:  0
        height: 40px
        width 10%
        border 0
        background: #fff
h1
  text-align center
  margin-bottom 1em
  margin-top 3em
  font-size 2em
  color #E0C737
.inicioSession
  border 1px solid white
  border-radius 2px
  background #E4E8EB
  box-shadow 4px 5px 0px #06A29F
  width 30%
  margin 3em auto
  padding 1em 2em 2em 2em

  input[type=text]
    width 96%
    display inline-block
    border-radius 6px
    padding 0 0 0 4%
    border 0
    font-size 1em
    color #B4B8BB
    line-height 3em
    margin-bottom: 0.5em
    &:hover
      border 0px solid red
    &:focus
      outline: none;
    &:placeholder
      color: red
  button
    display inline-block
    width 100%
    border-radius 6px
    border 0
    line-height 2.4em
    padding 0
    margin-top: 0.5em
    background #01ADA8
    color #F6FEFA
    font-size 1.2em
    &:focus
      outline none
  .validacionName
    display block
    margin-top 0.5em
    color: #019F9B
.inputOption
  // border 1px solid red
  position fixed
  bottom 2.5em
  width: 50%
  height 2em
  border-top 1px solid #F0F0F0
  border-bottom  1px solid #F0F0F0
  background white
  label
    border-radius 4px
    display inline-block
    //border 1px solid red
    color white
    //width:2em
    width 50%
    background #01ada8
    //height 2em
    margin 0 5px 0 5px
    padding 0.5em 5px 0.5em 5px
    text-align center
  input[type=file]
    //border 1px solid red
    display none


@media all and (max-width: 700px)
  .contenedorChant
    .cuadroChat
      width 100%
      .inputChat
        width 100%
        input 
          width 80%
        button 
          width: 18%
  //.salir
  //  width 90%

  .titulo
    font-size 25px
    width 100%
  .inicioSession
    width 80%
    padding 5%
    input[type=text]
      width 95%
    button
      width 100%

  .inputOption
    width: 100%
  .btnHeader
    width: 100% !important
    border 1px solid red
